---
title: Career @ NSVM
tagline: nil
---

<% if(data.about.career_description != 'nil') %>
<div class="col-lg-12"><%= data.career.career_description %></div>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel-group" id="accordion">
        <% for job_id in data.career.jobs.keys %>
	<h3><%= data.career.jobs[job_id].title %></h3>
	<%= data.career.jobs[job_id].description %>
	<br>
	<% end %>
    </div>
  </div>
</div>
