
<div class="container">

  <div class="row">
    
    <div class="col-xs-12">
      <h1 class="page-header">Forum</h1>
      <ol class="breadcrumb">
        <li><a href="/">Home</a>
        </li>
        <li class="active">Forum</li>
      </ol>
    </div>
    
  </div>
  
  <div class="row">

    <div class="col-xs-12">

      <%= disqus %>  

    </div>

  </div>
  
</div>
